
\.vs/wooting-analog-reader/v14/\.suo

windows/.vs/

windows/Release/
windows/Backup/
windows/Debug/
windows/x64/

linux/build/
linux/wooting-analog-sdk.so

*.htm

*.db

*.opendb

*.filters
*.user

*.aps
